{%extends 'base.html'%}
{% block content %}
<div class="wrapper conteiner-fluid">
    {%include 'partials/sidebarmenutablesfull.html'%}
    <div id="page-content-wrapper">
        <div class="conteiner-fluid">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th colspan="5" class="text-center">Máximas Diarias</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-dark">
                        <td>Data</td>
                        {% if pUmi %}
                            <td>Umidade %</td>
                        {% endif %}
                        {% if pPress %}
                            <td>Pressão hPa</td>
                        {% endif %}
                        {% if pT1 %}
                            <td>Temp Interna °C</td>
                        {% endif %}
                        {% if pT2 %}
                            <td>Temp Externa °C</td>
                        {% endif %}
                    </tr>
                    {% for data in pageObj %}
                    <tr>
                        <td>{{data.dia|date}}</td>
                        {% if pUmi%}
                            <td>{{data.umidade}}</td>
                        {% endif %}
                        {% if pPress%}
                            <td>{{data.pressao}}</td>
                        {% endif %}
                        {% if pT1%}
                            <td>{{data.temp_int}}</td>
                        {% endif %}
                        {% if pT2%}
                            <td>{{data.temp_ext}}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    <div>
    {% include 'partials/pagination.html' %}
</div>
{% endblock content %}
