{%extends 'base.html'%}
{% block content %}
<div class="wrapper conteiner-fluid">
    {%include 'partials/sidebarmenutables.html'%}
    <div id="page-content-wrapper">
        <div class="conteiner-fluid">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th colspan="5" class="text-center">Médias Diarias</th>
                    </tr>
                <tbody>
                    <tr class="table-dark">
                        <td>Data</td>
                        <td>Umidade %</td>
                        <td>Pressão hPa</td>
                        <td>Temp Interna °C</td>
                        <td>Temp Externa °C</td>
                    </tr>
                    {% for data in pageObj %}
                    <tr>
                        <td>{{data.dia|date}}</td>
                        <td>{{data.media_umidade}}</td>
                        <td>{{data.media_pressao}}</td>
                        <td>{{data.media_temp_int}}</td>
                        <td>{{data.media_temp_ext}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                </thead>
            </table>
        </div>
    <div>
</div>
{% include 'partials/pagination.html' %}
{% endblock content %}