<div id="sidebar-wrapper" class="conteiner-fluid">
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne">
          Tópicos
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <ul class="sidebar-nav">
            <li><a href="#1"><i class="fa-solid fa-check fa-lg"></i> O que é?</a>
            </li>
            <hr>
            <li><a href="#3"><i class="fa-solid fa-check fa-lg"></i> O Arduíno</a>
            </li>
            <hr>
            <li><a href="#4"><i class="fa-solid fa-check fa-lg"></i> A Interface Gráfica</a>
            </li>
            <hr>
            <li><a href="#5"><i class="fa-solid fa-check fa-lg"></i> A Captação</a>
            </li>
            <hr>
            <li><a href="#6"><i class="fa-solid fa-check fa-lg"></i> A Exibição</a>
            </li>
            <hr>
            <li><a href="#7"><i class="fa-solid fa-check fa-lg"></i> Sobre o Projeto</a>
            </li>
            <hr>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>