<hr>
<ul class="sidebar-nav">
    <!-- <li><a href="{% url 'tabela' %}"><i class="fa-solid fa-table fa-lg"></i> Médias</a>
    </li>
    <hr>
    <li><a href="{% url 'graficos' %}"><i class="fa-solid fa-chart-simple fa-lg"></i> Máximas</a></li>
    <hr>
    <li><a href="{% url 'tabela' %}"><i class="fa-solid fa-table fa-lg"></i> Mínimas</a>
    </li>
    <hr>
    <li><a href="{% url 'graficos' %}"><i class="fa-solid fa-chart-simple fa-lg"></i> Medianas</a></li>
    <hr>
    <li><a href="{% url 'tabela' %}"><i class="fa-solid fa-table fa-lg"></i> Modais</a>
    </li> -->
</ul>
<hr>