<header class="conteiner-fluid">
    <nav class="header">
        <div class="header-list">
            <a href="{% url 'index' %}"><i class="fa-solid fa-cloud-sun fa-2xl icon-sun-hover"></i></a>
        </div>
        <div class="header-list">
            <ul>
                <a href="{% url 'registros' %}"><li>Registros</li></a>
                <a href="{% url 'sobre' %}"><li>Sobre</li></a>
                <a href="/admin"><li>Admin</li></a>
            </ul>
        </div>
    </nav>
</header>