<header class="conteiner-fluid">
    <nav class="header">
        <div class="header-list">
            <a href="{% url 'index' %}"><i class="fa-solid fa-cloud-sun fa-2xl icon-sun-hover"></i></a>
        </div>
        <div class="header-list">
            <ul class="text-center">
                <a href="{% url 'registros' %}"><li><strong class="font-header">Registros</strong></li></a>
                <a href="{% url 'sobre' %}"><li><strong class="font-header">Sobre</strong></li></a>
                <a href="/admin"><li><strong class="font-header">Admin</strong></li></a>
            </ul>
        </div>
    </nav>
</header>