<hr>
<nav class="sidebar-nav">
  <form action="{{actionUrl}}" method="post">
    {% csrf_token %}
    <div class="sidebar-var-form">
      <label for="date-start">De:</label>
      <input id="date-start" type="date" name="date-start" min="2022-03-05">
      <hr>
      <label for="date-start">Até:</label>
      <input id="date-end" type="date" name="date-end" min="2022-03-05">
    </div>
    <hr>
    <div class="sidebar-var-form">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" value="Umidade">
        <label class="form-check-label" for="Umidade">
          Umidade
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" value="Pressao">
        <label class="form-check-label" for="Pressao">
          Pressão
        </label>
      </div>
    </div>
    <div class="sidebar-var-form">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" value="Temperatura-Interna">
        <label class="form-check-label" for="TemperaturaInterna">
          Temp Interna
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" value="Temperatura-Externa">
        <label class="form-check-label" for="TemperaturaExterna">
          Temp Externa
        </label>
      </div>
    </div>
    <hr>
    <div class="sidebar-var-form">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="medias" id="medias">
        <label class="form-check-label" for="medias">
          Médias
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="maximas" id="maximas">
        <label class="form-check-label" for="maximas">
          Máximas
        </label>
      </div>
    </div>
    <div class="sidebar-var-form">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="minimas" id="minimas">
        <label class="form-check-label" for="minimas">
          Mínimas
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="medianas" id="medianas">
        <label class="form-check-label" for="medianas">
          Medianas
        </label>
      </div>
    </div>
    <div class="sidebar-var-form">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="modas" id="modas">
        <label class="form-check-label" for="modas">
          Modas
        </label>
      </div>
    </div>
    <hr>
    <div class="d-grid gap-2">
      <button class="btn btn-success text-center " type="submit">Filtrar</button>
    </div>
  </form>
</nav>
<hr>
</h3>