<hr>
<ul class="sidebar-nav">
    <li><a href="{% url 'tabelamedia' %}"><i class="fa-solid fa-temperature-half fa-lg"></i> Médias</a>
    </li>
    <hr>
    <li><a href="{% url 'tabelamax' %}"><i class="fa-solid fa-temperature-full fa-lg"></i> Máximas</a></li>
    <hr>
    <li><a href="{% url 'tabelamin' %}"><i class="fa-solid fa-temperature-quarter fa-lg"></i> Mínimas</a>
    </li>
    <hr>
    <li><a href="{% url 'tabelamediana' %}"><i class="fa-solid fa-temperature-half fa-lg"></i> Medianas</a></li>
    <hr>
    <li><a href="{% url 'tabelamoda' %}"><i class="fa-solid fa-temperature-half fa-lg"></i> Modais</a>
    </li>
</ul>
<hr>
</h3>