<h3 class="text-center">Medidas</h3>
<hr>
<ul class="sidebar-nav">
    <li><a href="{% url 'tabelamedias' %}"><i class="fa-solid fa-temperature-half fa-lg"></i> Médias</a>
    </li>
    <hr>
    <li><a href="{% url 'graficos' %}"><i class="fa-solid fa-temperature-full fa-lg"></i> Máximas</a></li>
    <hr>
    <li><a href="{% url 'tabela' %}"><i class="fa-solid fa-temperature-quarter fa-lg"></i> Mínimas</a>
    </li>
    <hr>
    <li><a href="{% url 'graficos' %}"><i class="fa-solid fa-temperature-half fa-lg"></i> Medianas</a></li>
    <hr>
    <li><a href="{% url 'tabela' %}"><i class="fa-solid fa-temperature-half fa-lg"></i> Modais</a>
    </li>
</ul>
<hr>
</h3>