/*  Desenvolvido por: BrainStorm Tecnologia 
    Desenvolvedor: Fernando Mendes
    todos os direitos reservados 2023 © BrainStorm Tecnologia
*/

:root{
    --icon-color: rgb(31, 81, 65);
    --bg-header-color: darkcyan;
    --transition-icons: all 1s ease-in-out;
    --hover-color: rgba(0, 0, 0, 0.8);
}

#branding h1,
#branding h1 a,
#branding h1 a:link,
#branding h1 a:visited {
    color: #FFFFFF;
}

#header {
    background: var(--icon-color);
    color: #FFFFFF;
}

#user-tools a:focus, #user-tools a:hover {
    border-bottom-color: #FFFFFF;
    color: #FFFFFF;
}

a:link, a:visited {
    color: var(--bg-header-color);
}

.module h2, .module caption, .inline-group h2 {
    background: var(--bg-header-color);
    color: #FFFFFF;
}

div.breadcrumbs {
    background: var(--bg-header-color);
    color: #FFFFFF;
}

.paginator a:link, .paginator a:visited {
    background: var(--bg-header-color) !important;
    color: #FFFFFF;
}

.paginator a:hover {
    background: var(--icon-color) !important;
    color: #FFFFFF;
}

.button.default, input[type=submit].default, .submit-row input.default {
    background: var(--bg-header-color);
}

.button.default:active,
input[type=submit].default:active,
.button.default:focus,
input[type=submit].default:focus,
.button.default:hover,
input[type=submit].default:hover {
    background: var(--icon-color);
}

.object-tools a:focus, .object-tools a:hover {
    background-color: var(--bg-header-color);
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: var(--icon-color);
    color: #FFFFFF;
}
.button:active,
input[type=submit]:active,
input[type=button]:active,
.button:focus,
input[type=submit]:focus,
input[type=button]:focus,
.button:hover,
input[type=submit]:hover,
input[type=button]:hover {
    background-color: var(--bg-header-color);
}

#changelist-filter li.selected a {
    color: var(--bg-header-color) !important;
}

#changelist-filter a:focus,
#changelist-filter a:hover,
#changelist-filter li.selected a:focus,
#changelist-filter li.selected a:hover {
    color: var(--icon-color) !important;
}

.selector-chosen h2 {
    background: #ef5455 !important;
    color: #FFFFFF;
}

a.active.selector-chooseall:focus,
a.active.selector-clearall:focus,
a.active.selector-chooseall:hover,
a.active.selector-clearall:hover {
    color: #ef5455 !important;
}
