:root{
    --icon-color: rgb(31, 81, 65);
    --bg-header-color: darkcyan;
    --transition-icons: all 1s ease-in-out;
    --hover-color: rgba(0, 0, 0, 0.8);
}
*{
    box-sizing: border-box;
}
body{
    background-color: ghostwhite;
}
body, html{height: 100%;}
nav a{
    margin-left: 40px;
}
.header{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 80px;
    background-color: var(--bg-header-color);
    box-shadow:0px 3px 8px rgba(0, 0, 0, 0.5);
}
.header-list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-list a{
    color: var(--icon-color);
    text-decoration: none;
    transition: all 500ms ease-in-out;
}
.header-list a:hover{
    color: var(--transition-icons);
    background-color: aquamarine;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}
.header-list ul{ 
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
}
#page-content-wrapper{
    width: 75%;
    height: 100%;
    position: relative;
    left: 30px;
}
#sidebar-wrapper{
    width: 25%;
    background-color: gainsboro;
    height: 100%;
}
.sidebar-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.sidebar-nav button{
    color: var(--icon-color);
}
.sidebar-nav a{
    text-decoration: none;
    color: var(--icon-color);
    transition: all 500ms ease-in-out;
}
.sidebar-nav :hover{
    color: var(--hover-color);
    cursor: pointer;
}
.sidebar-nav li{
    list-style: none;
}
.conteiner-index{
    background-color: aquamarine;
    box-shadow: 2px 2px 2px rgba(31, 81, 65, 0.8);
    border-radius: 10px;
    transition: all 500ms ease-in-out;
}
.row div:hover{
    box-shadow: -2px -2px 2px rgba(31, 81, 65, 0.8);
    transform: scale(1.05);
}
.table-dark{
    position: sticky;
    top: 0;
}