{% extends 'base.html' %}
{% block content %}
<div class="wrapper conteiner-fluid">
    {%include 'partials/sidebarmenugraphsfull.html'%}
    <div id="page-content-wrapper">
        <div class="conteiner-fluid text-center">
            <h3>{{graphType}}</h3><h3>{{graphTitle}}</h3>
            <div>
                <canvas id="graphLine"></canvas>
            </div>

            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

            <script>
                const ctx = document.getElementById('graphLine');
                let config = {
                    type: 'line',
                    data: {
                        labels:{{labels|safe}},
                        datasets: {{dataSets|safe}}
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true,
                                ticks: {
                                    callback: value => `${value} {{unity|safe}}`
                                }
                            }
                        }
                    }
                };

                new Chart(ctx, config);
            </script>
        </div>
    </div>
</div>
{% endblock content %}