{% extends 'base.html' %}
{% block content %}

<div class="wrapper container">
   {%include 'partials/sidebarmenu.html'%}
    <div id="page-content-wrapper">
        <div class="conteiner-fluid">
            <table class="table table-striped table-hover table-bordered"">
                <thead>
                    <tr>
                        <th colspan="5" class="text-center">Última Entrada</th>
                    </tr>
                    <tbody>
                        <tr class="table-dark">
                            <td>Dia</td>
                            <td>Média Umidade - %</td>
                            <td>Média Pressao - hPa</td>
                            <td>Média Temp Interna - °C</td>
                            <td>Média Temp Externa - °C</td>
                        </tr>
                        {% for data in dateToday %}
                            <tr>
                                <td>{{data.dia}}</td>
                                <td>{{data.media_umidade}}</td>
                                <td>{{data.media_pressao}}</td>
                                <td>{{data.media_temp_int}}</td>
                                <td>{{data.media_temp_ext}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </thead>
            </table>
        </div>
    </div>
</div>

{% endblock content %}