{% extends 'base.html' %}
{% block content %}
<div class="wrapper conteiner-fluid">
   {% include 'partials/sidebarstartregister.html'%}
    <div id="page-content-wrapper">
        <div class="conteiner-fluid">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th colspan="4" class="text-center">Última Entrada</th>
                    </tr>
                    <tr>
                        <th colspan="4" class="text-center table-dark">Data</th>
                    </tr>
                    <tr>
                        {% for data in dateToday %}
                            <th colspan="4" class="text-center">{{data.dia|date}}</th>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th colspan="4" class="text-center">Médias</th>
                    </tr>
                    <tbody>
                        <tr class="table-dark">
                            <td>Umidade %</td>
                            <td>Pressao hPa</td>
                            <td>Temp Interna °C</td>
                            <td>Temp Externa °C</td>
                        </tr>
                        {% for data in dateToday %}
                            <tr>
                                <td>{{data.media_umidade}}</td>
                                <td>{{data.media_pressao}}</td>
                                <td>{{data.media_temp_int}}</td>
                                <td>{{data.media_temp_ext}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tr>
                        <th colspan="4" class="text-center">Máximos</th>
                    </tr>
                    <tbody>
                        <tr class="table-dark">
                            <td>Umidade %</td>
                            <td>Pressao hPa</td>
                            <td>Temp Interna °C</td>
                            <td>Temp Externa °C</td>
                        </tr>
                        {% for data in dateToday %}
                            <tr>
                                <td>{{data.maximo_umidade}}</td>
                                <td>{{data.maximo_pressao}}</td>
                                <td>{{data.maximo_temp_int}}</td>
                                <td>{{data.maximo_temp_ext}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tr>
                        <th colspan="4" class="text-center">Mínimos</th>
                    </tr>
                    <tbody>
                        <tr class="table-dark">
                            <td>Umidade %</td>
                            <td>Pressao hPa</td>
                            <td>Temp Interna °C</td>
                            <td>Temp Externa °C</td>
                        </tr>
                        {% for data in dateToday %}
                            <tr>
                                <td>{{data.minimo_umidade}}</td>
                                <td>{{data.minimo_pressao}}</td>
                                <td>{{data.minimo_temp_int}}</td>
                                <td>{{data.minimo_temp_ext}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </thead>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
