{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}
{% block content %}
<section class="text-center">
  <p>Seja bem vindo(a)!</p>
</section>
<section class="text-center">
  <h3>Tempo Real</h3>
  <h6>Caldas Novas - Go</h6>
  <p id="dateNow">...</p>
</section>
<section>
  <div id="carouselIndex" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselIndex" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselIndex" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselIndex" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselIndex" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="d-flex justify-content-center align-items-center">
          <div style="height: 100px; width: 90%;"
            class="container-fluid text-center m-2 conteiner-index align-items-center">
            <h4>Umidade: </h4>
            <div>
              <p id="umi" style="display: inline" ;>...</p>
              <p style="display: inline" ;> %</p>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-center align-items-center">
          <div style="height: 100px; width: 90%;"
            class="container-fluid text-center m-2 conteiner-index align-items-center">
            <h4>Pressão</h4>
            <div>
              <p id="press" style="display: inline" ;>...</p>
              <p style="display: inline" ;> hPa</p>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-center align-items-center">
          <div style="height: 100px; width: 90%;"
            class="container-fluid text-center m-2 conteiner-index align-items-center">
            <h4>Temperatura Interna: </h4>
            <div>
              <p id="tmp1" style="display: inline" ;>...</p>
              <p style="display: inline" ;> °C</p>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="x d-flex justify-content-center align-items-center">
          <div style="height: 100px; width: 90%;"
            class="container-fluid text-center m-2 conteiner-index align-items-center">
            <h4>Temperatura Externa: </h4>
            <div class="flex-row">
              <p id="tmp2" style="display: inline" ;>...</p>
              <p style="display: inline" ;> °C</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndex" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselIndex" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
<section class="text-center">
  <h3>Registros das últimas 24 Hrs</h3>
</section>
<section>
  <div class="container-fluid text-center">
    <div class="row rower-graph fade-info" id="fade-graph-A">
      <div class="col m-2 graph-index">

        <canvas id="graphLineUmidade"></canvas>

      </div>
      <div class="col m-2 graph-index">

        <canvas id="graphLinePressao"></canvas>

      </div>
    </div>

    <div class="row rower-graph fade-info" id="fade-graph-B">
      <div class="col m-2 graph-index">

        <canvas id="graphLineTempInt"></canvas>

      </div>
      <div class="col m-2 graph-index">

        <canvas id="graphLineTempExt"></canvas>

      </div>
    </div>

    <div class="row fade-info" id="fade-info-A">
      <div class="col m-2 d-flex justify-content-around align-items-center flex-column graph-index">
        <div class="m-2">
          <h5>Max - Media - Min Umidade:</h5>
        </div>
        <div class="m-2 d-flex justify-content-around align-items-center flex-row">
          <div class="m-2 d-flex flex-column align-items-center">

            <p id="max-umi"></p>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="rgba(255, 99, 132, 0.6)" class="bi bi-arrow-up-circle-fill"
              viewBox="0 0 16 16">
              <path
                d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z" />
            </svg>
          </div>

          <div class="m-2 d-flex flex-column align-items-center">
            <p id="mean-umi"></p>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="rgba(219, 211, 27, 0.6)" class="bi bi-circle-fill"
              viewBox="0 0 16 16">
              <circle cx="8" cy="8" r="8" />
            </svg>
          </div>

          <div class="m-2 d-flex flex-column align-items-center">
            <p id="min-umi"></p>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="rgba(31, 81, 65, 0.6)"
              class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z" />
            </svg>
          </div>
        </div>

      </div>
      <div class="col m-2 d-flex justify-content-around align-items-center flex-column graph-index">
        <div class="m-2">
          <h5>Max - Media - Min Pressão:</h5>
        </div>
        <div class="m-2 d-flex justify-content-around align-items-center flex-row">
          <div class="m-2 d-flex flex-column align-items-center">
            <p id="press-max"></p>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="rgba(255, 99, 132, 0.6)" class="bi bi-arrow-up-circle-fill"
              viewBox="0 0 16 16">
              <path
                d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z" />
            </svg>
          </div>

          <div class="m-2 d-flex flex-column align-items-center">
            <p id="press-mean"></p>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="rgba(219, 211, 27, 0.6)" class="bi bi-circle-fill"
              viewBox="0 0 16 16">
              <circle cx="8" cy="8" r="8" />
            </svg>
          </div>

          <div class="m-2 d-flex flex-column align-items-center">
            <p id="press-min"></p>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="rgba(31, 81, 65, 0.6)"
              class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z" />
            </svg>
          </div>
        </div>
      </div>
    </div>

    <div class="row fade-info" id="fade-info-B">
      <div class="col m-2 d-flex justify-content-around align-items-center flex-column graph-index">
        <div class="m-2">
          <h5>Max - Media - Min Temp. Interna:</h5>
        </div>
        <div class="m-2 d-flex justify-content-around align-items-center flex-row">

          <div class="m-2 d-flex flex-column align-items-center">
            <p id="max-temp-int"></p>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="rgba(255, 99, 132, 0.6)" class="bi bi-arrow-up-circle-fill"
              viewBox="0 0 16 16">
              <path
                d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z" />
            </svg>
          </div>

          <div class="m-2 d-flex flex-column align-items-center">
            <p id="mean-temp-int"></p>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="rgba(219, 211, 27, 0.6)" class="bi bi-circle-fill"
              viewBox="0 0 16 16">
              <circle cx="8" cy="8" r="8" />
            </svg>
          </div>

          <div class="m-2 d-flex flex-column align-items-center">
            <p id="min-temp-int"></p>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="rgba(31, 81, 65, 0.6)"
              class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z" />
            </svg>
          </div>
        </div>
      </div>

      <div class="col m-2 d-flex justify-content-around align-items-center flex-column graph-index">
        <div class="m-2">
          <h5>Max - Media - Min Temp. Externa:</h5>
        </div>
        <div class="m-2 d-flex justify-content-around align-items-center flex-row">

          <div class="m-2 d-flex flex-column align-items-center">
            <p id="max-temp-ext"></p>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="rgba(255, 99, 132, 0.6)" class="bi bi-arrow-up-circle-fill"
              viewBox="0 0 16 16">
              <path
                d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z" />
            </svg>

          </div>

          <div class="m-2 d-flex flex-column align-items-center">
            <p id="mean-temp-ext"></p>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="rgba(219, 211, 27, 0.6)" class="bi bi-circle-fill"
              viewBox="0 0 16 16">
              <circle cx="8" cy="8" r="8" />
            </svg>
          </div>

          <div class="m-2 d-flex flex-column align-items-center">
            <p id="min-temp-ext"></p>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="rgba(31, 81, 65, 0.6)"
              class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z" />
            </svg>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="accordion" id="accordionExample">
    {% for extractYear in years %}
    <div class="accordion-item">
      <h2 class="accordion-header" id="{{extractYear}}">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapse{{extractYear}}" aria-expanded="false" aria-controls="collapse{{extractYear}}">
          <h3 class="text-center">Estatísticas {{extractYear}}</h3>
        </button>
      </h2>
      <div id="collapse{{extractYear}}" class="accordion-collapse collapse" aria-labelledby="{{extractYear}}"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          {% for i in data %}
          {% if extractYear == i.year%}
          <div class="container-fluid text-center">
            <div class="row rower">
              <div class="col m-2 conteiner-index">
                {% for data in i.resultMaxTemp %}
                {% if forloop.counter0 == 0%}
                <p>Maior temperatura</p>
                <p>Data: {{data.dia|date}}</p>
                <p>{{data.maximo_temp_ext}}°C</p>
                {% endif %}
                {% endfor %}
              </div>
              <div class="col m-2 conteiner-index">
                {% for data in i.resultMinTemp %}
                {% if forloop.counter0 == 0%}
                <p>Menor temperatura</p>
                <p>Data: {{data.dia|date}}</p>
                <p>{{data.minimo_temp_ext}}°C</p>
                {% endif %}
                {% endfor %}
              </div>
              <div class="col m-2 conteiner-index">
                {% for data in i.resultMeanTemp %}
                {% if forloop.counter0 == 0%}
                <p>Temperatura média</p>
                <p>{{data.avg|roundFilter:2}}°C</p>
                {% endif %}
                {% endfor %}
              </div>
            </div>
            <div class="row rower">
              <div class="col m-2 conteiner-index">
                {% for data in i.resultMaxUmi %}
                {% if forloop.counter0 == 0%}
                <p>Maior umidade</p>
                <p>Data: {{data.dia|date}}</p>
                <p>{{data.maximo_umidade}}%</p>
                {% endif %}
                {% endfor %}
              </div>
              <div class="col m-2 conteiner-index">
                {% for data in i.resultMinUmi %}
                {% if forloop.counter0 == 0%}
                <p>Menor umidade</p>
                <p>Data: {{data.dia|date}}</p>
                <p>{{data.minimo_umidade}}%</p>
                {% endif %}
                {% endfor %}
              </div>
              <div class="col m-2 conteiner-index">
                {% for data in i.resultMeanUmi %}
                {% if forloop.counter0 == 0%}
                <p>Umidade média</p>
                <p>{{data.avg|roundFilter:2}}%</p>
                {% endif %}
                {% endfor %}
              </div>
            </div>
            <div class="row rower">
              <div class="col m-2 conteiner-index">
                {% for data in i.resultMaxPress %}
                {% if forloop.counter0 == 0%}
                <p>Maior pressão atmosférica</p>
                <p>Data: {{data.dia|date}}</p>
                <p>{{data.maximo_pressao}} hPa</p>
                {% endif %}
                {% endfor %}
              </div>
              <div class="col m-2 conteiner-index">
                {% for data in i.resultMinPress %}
                {% if forloop.counter0 == 0%}
                <p>Menor pressão atmosférica</p>
                <p>Data: {{data.dia|date}}</p>
                <p>{{data.minimo_pressao}} hPa</p>
                {% endif %}
                {% endfor %}
              </div>
              <div class="col m-2 conteiner-index">
                {% for data in i.resultMeanPress %}
                {% if forloop.counter0 == 0%}
                <p>Pressão atmosférica média</p>
                <p>{{data.avg|roundFilter:2}} hPa</p>
                {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
<section>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.3/dist/chart.umd.min.js"></script>
  <script src="{%static '/javascript/graphsIndexAPI.js'%}"></script>
  <script src="{%static '/javascript/timeRealIndexAPI.js'%}"></script>
  <script src="{%static '/javascript/fadeIndex.js'%}"></script>
</section>
{% endblock content %}