{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
<section class="text-center">
  <p>Seja bem vindo(a)!</p>
</section>
<section class="text-center">
  <h3>Tempo Real</h3>
  <p id="dateNow">...</p>
</section>
<section>
  <div id="carouselIndex" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselIndex" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselIndex" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselIndex" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselIndex" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="d-flex justify-content-center align-items-center">
          <div style="height: 100px; width: 90%;"
            class="container-fluid text-center m-2 conteiner-index align-items-center">
            <h4>Umidade: </h4>
            <div>
              <p id="umi" style="display: inline" ;>...</p>
              <p style="display: inline" ;> %</p>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-center align-items-center">
          <div style="height: 100px; width: 90%;"
            class="container-fluid text-center m-2 conteiner-index align-items-center">
            <h4>Pressão</h4>
            <div>
              <p id="press" style="display: inline" ;>...</p>
              <p style="display: inline" ;> hPa</p>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-center align-items-center">
          <div style="height: 100px; width: 90%;"
            class="container-fluid text-center m-2 conteiner-index align-items-center">
            <h4>Temperatura Interna: </h4>
            <div>
              <p id="tmp1" style="display: inline" ;>...</p>
              <p style="display: inline" ;> °C</p>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="x d-flex justify-content-center align-items-cent">
          <div style="height: 100px; width: 90%;"
            class="container-fluid text-center m-2 conteiner-index align-items-center">
            <h4>Temperatura Externa: </h4>
            <div class="flex-row">
              <p id="tmp2" style="display: inline" ;>...</p>
              <p style="display: inline" ;> °C</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndex" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselIndex" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
<section class="text-center">
  <h3>Registros das últimas 24 Hrs</h3>
</section>
<section>
  <div class="container-fluid text-center">
    <div class="row">
      <div class="col m-2 conteiner-index">

        <canvas id="graphLineUmidade"></canvas>

      </div>
      <div class="col m-2 conteiner-index">

        <canvas id="graphLinePressao"></canvas>

      </div>
    </div>
    <div class="row">
      <div class="col m-2 conteiner-index">

        <canvas id="graphLineTempInt"></canvas>

      </div>
      <div class="col m-2 conteiner-index">

        <canvas id="graphLineTempExt"></canvas>

      </div>
    </div>
  </div>
</section>
<section>
  <div class="accordion" id="accordionExample">
    {% for extractYear in years %}
    <div class="accordion-item">
      <h2 class="accordion-header" id="{{extractYear}}">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapse{{extractYear}}" aria-expanded="false" aria-controls="collapse{{extractYear}}">
          <h3 class="text-center">Estatísticas {{extractYear}}</h3>
        </button>
      </h2>
      <div id="collapse{{extractYear}}" class="accordion-collapse collapse" aria-labelledby="{{extractYear}}"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          {% for i in data %}
          {% if extractYear == i.year%}
          <div class="container-fluid text-center">
            <div class="row">
              <div class="col m-2 conteiner-index">
                {% for data in i.resultMaxTemp %}
                {% if forloop.counter0 == 0%}
                <p>Maior temperatura</p>
                <p>Data: {{data.dia|date}}</p>
                <p>{{data.maximo_temp_ext}}°C</p>
                {% endif %}
                {% endfor %}
              </div>
              <div class="col m-2 conteiner-index">
                {% for data in i.resultMinTemp %}
                {% if forloop.counter0 == 0%}
                <p>Menor temperatura</p>
                <p>Data: {{data.dia|date}}</p>
                <p>{{data.minimo_temp_ext}}°C</p>
                {% endif %}
                {% endfor %}
              </div>
              <div class="col m-2 conteiner-index">
                {% for data in i.resultMeanTemp %}
                {% if forloop.counter0 == 0%}
                <p>Temperatura média</p>
                <p>{{data.avg|roundFilter:2}}°C</p>
                {% endif %}
                {% endfor %}
              </div>
            </div>
            <div class="row">
              <div class="col m-2 conteiner-index">
                {% for data in i.resultMaxUmi %}
                {% if forloop.counter0 == 0%}
                <p>Maior umidade</p>
                <p>Data: {{data.dia|date}}</p>
                <p>{{data.maximo_umidade}}%</p>
                {% endif %}
                {% endfor %}
              </div>
              <div class="col m-2 conteiner-index">
                {% for data in i.resultMinUmi %}
                {% if forloop.counter0 == 0%}
                <p>Menor umidade</p>
                <p>Data: {{data.dia|date}}</p>
                <p>{{data.minimo_umidade}}%</p>
                {% endif %}
                {% endfor %}
              </div>
              <div class="col m-2 conteiner-index">
                {% for data in i.resultMeanUmi %}
                {% if forloop.counter0 == 0%}
                <p>Umidade média</p>
                <p>{{data.avg|roundFilter:2}}%</p>
                {% endif %}
                {% endfor %}
              </div>
            </div>
            <div class="row">
              <div class="col m-2 conteiner-index">
                {% for data in i.resultMaxPress %}
                {% if forloop.counter0 == 0%}
                <p>Maior pressão atmosférica</p>
                <p>Data: {{data.dia|date}}</p>
                <p>{{data.maximo_pressao}} hPa</p>
                {% endif %}
                {% endfor %}
              </div>
              <div class="col m-2 conteiner-index">
                {% for data in i.resultMinPress %}
                {% if forloop.counter0 == 0%}
                <p>Menor pressão atmosférica</p>
                <p>Data: {{data.dia|date}}</p>
                <p>{{data.minimo_pressao}} hPa</p>
                {% endif %}
                {% endfor %}
              </div>
              <div class="col m-2 conteiner-index">
                {% for data in i.resultMeanPress %}
                {% if forloop.counter0 == 0%}
                <p>Pressão atmosférica média</p>
                <p>{{data.avg|roundFilter:2}} hPa</p>
                {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
<section>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.3/dist/chart.umd.min.js"></script>
  <script>
    const ctx1 = document.getElementById('graphLineUmidade');
    let config1 = {
      type: 'line',
      data: {
        labels: [],
        datasets: [{
          label: "Umidade",
          data: [],
          borderWidth: 0.5,
          fill: 'origin',
          pointRadius: 1,
          cubicInterpolationMode: 'monotone',

        }]
      },

      options: {
        scales: {
          y: {
            beginAtZero: true,
            ticks: {
              callback: value => `${value} %`
            }
          }
        }
      }
    };
    let chartHumi = new Chart(ctx1, config1);

    const ctx2 = document.getElementById('graphLinePressao');
    let config2 = {
      type: 'line',
      data: {
        labels: [],
        datasets: [{
          label: "Pressão Atmosférica",
          data: [],
          borderWidth: 0.5,
          fill: 'origin',
          pointRadius: 1,
          cubicInterpolationMode: 'monotone',
        }]
      },

      options: {
        scales: {
          y: {
            beginAtZero: true,
            ticks: {
              callback: value => `${value} hPa`
            }
          }
        }
      }
    };
    let chartPress = new Chart(ctx2, config2);

    const ctx3 = document.getElementById('graphLineTempInt');
    let config3 = {
      type: 'line',
      data: {
        labels: [],
        datasets: [{
          label: "Temperatura Interna",
          data: [],
          borderWidth: 0.5,
          fill: 'origin',
          pointRadius: 1,
          cubicInterpolationMode: 'monotone',
        }]
      },

      options: {
        scales: {
          y: {
            beginAtZero: true,
            ticks: {
              callback: value => `${value} °C`
            }
          }
        }
      }
    };
    let chartTemp1 = new Chart(ctx3, config3);

    const ctx4 = document.getElementById('graphLineTempExt');
    let config4 = {
      type: 'line',
      data: {
        labels: [],
        datasets: [{
          label: "Temperatura Externa",
          data: [],
          borderWidth: 0.5,
          fill: 'origin',
          pointRadius: 1,
          cubicInterpolationMode: 'monotone',
        }]
      },

      options: {
        scales: {
          y: {
            beginAtZero: true,
            ticks: {
              callback: value => `${value} °C`
            }
          }
        }
      }
    };
    let chartTemp2 = new Chart(ctx4, config4);

    const updateCharts = (label, humi, press, temp1, temp2) => {
      chartHumi.data.labels = label
      chartHumi.data.datasets.forEach(element => {
        element.data = humi
      });
      chartHumi.update()

      chartPress.data.labels = label
      chartPress.data.datasets.forEach(element => {
        element.data = press
      });
      chartPress.update()

      chartTemp1.data.labels = label
      chartTemp1.data.datasets.forEach(element => {
        element.data = temp1
      });
      chartTemp1.update()

      chartTemp2.data.labels = label
      chartTemp2.data.datasets.forEach(element => {
        element.data = temp2
      });
      chartTemp2.update()
    }

    const urlGraf = 'https://www.brainstormtecnologia.tech/api/graficosIndex/'
    const urlLocal = 'http://127.0.0.1:8000/api/graficosIndex/'
    fetch(urlGraf)
      .then(response => {
        if (response.status !== 200) throw new Error('Dados não encontrados')
        return response.json()
      })
      .then(data => {
        let labelss = []
        let humidity = []
        let pressure = []
        let tempIn = []
        let tempEx = []
        data.forEach(element => {
          labelss.push(element.data_hora)
          humidity.push(element.umidade)
          pressure.push(element.pressao)
          tempIn.push(element.temp_int)
          tempEx.push(element.temp_ext)
        })
        updateCharts(labelss, humidity, pressure, tempIn, tempEx)
      })
      .catch(e => console.log(e))

    setInterval(() => {
      fetch(urlGraf)
        .then(response => {
          if (response.status !== 200) throw new Error('Dados não encontrados')
          return response.json()
        })
        .then(data => {
          let labelss = []
          let humidity = []
          let pressure = []
          let tempIn = []
          let tempEx = []
          data.forEach(element => {
            labelss.push(element.data_hora)
            humidity.push(element.umidade)
            pressure.push(element.pressao)
            tempIn.push(element.temp_int)
            tempEx.push(element.temp_ext)
          })
          updateCharts(labelss, humidity, pressure, tempIn, tempEx)
        })
        .catch(e => console.log(e))
    }, 300000);
  </script>
  <script>
    const urlRealTime = 'https://www.brainstormtecnologia.tech/api/tempo_real/'
    const urlLocalTime = 'http://127.0.0.1:8000/api/tempo_real/'
    const date = document.getElementById('dateNow')
    const umi = document.getElementById('umi')
    const press = document.getElementById('press')
    const temp1 = document.getElementById('tmp1')
    const temp2 = document.getElementById('tmp2')
    const updateData = data => {
      date.textContent = JSON.stringify(data.data_hora).replace(/"/g, '')
      umi.textContent = JSON.stringify(data.umidade)
      press.textContent = JSON.stringify(data.pressao)
      temp1.textContent = JSON.stringify(data.temp_int)
      temp2.textContent = JSON.stringify(data.temp_ext)
    }
    setInterval(() => {
      fetch(urlRealTime)
        .then(response => {
          if (response.status !== 200) throw new Error('Dados não encontrados')
          return response.json()
        })
        .then(data => {
          updateData(data)
        })
        .catch(e => console.log(e))
    }, 1000);
  </script>
</section>
{% endblock content %}